<div class="home-container px-44">
  <div class="text-container">
    <h1 class="text-purple-300 text-8xl font-bold mt-10">Universo API</h1>
    <h2 class="text-teal-500 text-5xl font-bold mb-5">memes en español</h2>
    <p class="text-white text-2xl">
      Sumérgete en el mundo más divertido y creativo de la web, donde los memes en castellano cobran vida. <br>
      ¡No te lo pierdas, este es tu lugar para disfrutar, compartir y hacer historia del meme!
    </p>
  </div>
  <div class="image-container">
    <img src="/assets/img/mono-tablet.png" alt="Meme Banner" class="home-banner">
  </div>
</div>

<app-footer></app-footer>
  
