<footer class="footer text-white">
    <aside>
            <img src="/assets/img/sociedad-del-meme-sf.png" alt="Logo">
      <p class="font-bold">
        La Sociedad del Meme</p>
    <p>
        Llevando memes a tu página desde 2024
      </p>
      <p>Copyright ©2025 - Todos los derechos reservados</p>
    </aside>
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a href="https://instagram.com/uruguayosenespanya" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
      </div>
    </nav>
  </footer>
